* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container-home{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
 
}

.home{
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo{
  font-weight: bolder;
}

.sub-header{
  font-weight: 300;
  color: #BFBFC1;
  font-size:small;
}

.join-btn{
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border: none;
  background-color: #fecc30;
  font-weight: bold;
  align-self: flex-end;
}

.join-btn:hover{
  cursor: pointer;
  opacity: .8;
}

.login-form{
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
}

.input-field{
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  padding: 5px 10px;
  font-weight: 300;
  text-align: left;
}

.input-field:focus{
  font-weight: bold;
  color: black;
}

.new-room-btn{
  color: #fecc30;
  font-weight: 600;
  text-decoration: none;
}

.container-room{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0;
}


.side-panel{
  width: 100vw;
  background-color: white;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  margin: 0;
}




::-webkit-scrollbar {
  display: none;
}
